{% extends 'home.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home/oficial-home.css' %}">
<title>Sistema de Gerenciamento</title>
{% endblock head %}

{% block content_space %}
    <div class="content">
        <h1>Sistema de Gerenciamento Avante</h1>
        <div class="calendar">
            <h2>Calendário</h2>
            <div id="current-date"></div>
        </div>
        <div class="box-container">
            <div class="box">
                <h1>Aulas do Dia</h1>
                <div class="table-container">
                    <table id="tabela-aulas">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Dia</th>
                                <th>Horário</th>
                                <th>Responsável</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- As aulas serão inseridas aqui  -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box">
                <h1>Serviços do Dia</h1>
                <div class="table-container">
                    <table id="tabela-servicos">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Dia</th>
                                <th>Horário</th>
                                <th>Responsável</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Os serviços serão inseridos aqui  -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="profile">
    <img src="D:/DocumentosHD/PROJETO WEB3/img/perfil.jpg" alt="Profile Picture" id="profile-picture">
    <a href="perfil.html" id="profile-name">Usuário</a>
</div>

<!-- Modais -->
<div id="visualizarModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="fecharModal('visualizarModal')">&times;</span>
        <iframe src="" id="visualizarIframe"></iframe>
    </div>
</div>

<div id="presencaModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="fecharModal('presencaModal')">&times;</span>
        <iframe src="" id="presencaIframe"></iframe>
    </div>
</div>
{% endblock content_space %}


{% block modals %}
<!-- Modais -->
<div id="visualizarModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="fecharModal('visualizarModal')">&times;</span>
        <iframe src="" id="visualizarIframe"></iframe>
    </div>
</div>

<div id="presencaModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="fecharModal('presencaModal')">&times;</span>
        <iframe src="" id="presencaIframe"></iframe>
    </div>
</div>
{% endblock modals %}



{% block script %}
<script src="{% static 'js/home/oficial-home.js' %}"></script>
{% endblock script %}